/* Header settings */

#logo

h1{
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    padding: 5px 20px;
}

header {
    background-color: #c0d1ff;
    height: 60px;
}

header img{
    max-height: 40px;
    margin: 10px 25px 0 0;
}

#header-links {
    vertical-align: middle;
}

#header-links a{
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    color: #00005C;
}