/* Header settings */

h1{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding: 5px 20px;
}

header {
    background-color: #1f0147;
    height: 60px;
}

header img{
    max-height: 40px;
    margin: 10px 25px 0 0;
}